zhtml {
  overflow-x: hidden;
}
@import "../css/fonts.css";
.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 0.75em;
}

.p-4 {
  padding: 1em;
}

.p-5 {
  padding: 1.25em;
}

.p-6 {
  padding: 1.5em;
}

.p-7 {
  padding: 1.75em;
}

.p-8 {
  padding: 2em;
}

.p-9 {
  padding: 2.25em;
}

.p-10 {
  padding: 2.5em;
}

.p-11 {
  padding: 2.75em;
}

.p-12 {
  padding: 3em;
}

.pt-1 {
  padding-top: 0.25em;
}

.pt-2 {
  padding-top: 0.5em;
}

.pt-3 {
  padding-top: 0.75em;
}

.pt-4 {
  padding-top: 1em;
}

.pt-5 {
  padding-top: 1.25em;
}

.pt-6 {
  padding-top: 1.5em;
}

.pt-7 {
  padding-top: 1.75em;
}

.pt-8 {
  padding-top: 2em;
}

.pt-9 {
  padding-top: 2.25em;
}

.pt-10 {
  padding-top: 2.5em;
}

.pt-11 {
  padding-top: 2.75em;
}

.pt-12 {
  padding-top: 3em;
}

.pb-1 {
  padding-bottom: 0.25em;
}

.pb-2 {
  padding-bottom: 0.5em;
}

.pb-3 {
  padding-bottom: 0.75em;
}

.pb-4 {
  padding-bottom: 1em;
}

.pb-5 {
  padding-bottom: 1.25em;
}

.pb-6 {
  padding-bottom: 1.5em;
}

.pb-7 {
  padding-bottom: 1.75em;
}

.pb-8 {
  padding-bottom: 2em;
}

.pb-9 {
  padding-bottom: 2.25em;
}

.pb-10 {
  padding-bottom: 2.5em;
}

.pb-11 {
  padding-bottom: 2.75em;
}

.pb-12 {
  padding-bottom: 3em;
}

.ptb-1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.ptb-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ptb-3 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.ptb-4 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ptb-5 {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.ptb-6 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.ptb-7 {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

.ptb-8 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ptb-9 {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
}

.ptb-10 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.ptb-11 {
  padding-top: 2.75em;
  padding-bottom: 2.75em;
}

.ptb-12 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.pr-1 {
  padding-right: 0.25em;
}

.pr-2 {
  padding-right: 0.5em;
}

.pr-3 {
  padding-right: 0.75em;
}

.pr-4 {
  padding-right: 1em;
}

.pr-5 {
  padding-right: 1.25em;
}

.pr-6 {
  padding-right: 1.5em;
}

.pr-7 {
  padding-right: 1.75em;
}

.pr-8 {
  padding-right: 2em;
}

.pr-9 {
  padding-right: 2.25em;
}

.pr-10 {
  padding-right: 2.5em;
}

.pr-11 {
  padding-right: 2.75em;
}

.pr-12 {
  padding-right: 3em;
}

.pl-1 {
  padding: 0.25em;
}

.pl-2 {
  padding: 0.5em;
}

.pl-3 {
  padding: 0.75em;
}

.pl-4 {
  padding: 1em;
}

.pl-5 {
  padding: 1.25em;
}

.pl-6 {
  padding: 1.5em;
}

.pl-7 {
  padding: 1.75em;
}

.pl-8 {
  padding: 2em;
}

.pl-9 {
  padding: 2.25em;
}

.pl-10 {
  padding: 2.5em;
}

.pl-11 {
  padding: 2.75em;
}

.pl-12 {
  padding: 3em;
}

.prl-1 {
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.prl-2 {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.prl-3 {
  padding-right: 0.75em;
  padding-left: 0.75em;
}

.prl-4 {
  padding-right: 1em;
  padding-left: 1em;
}

.prl-5 {
  padding-right: 1.25em;
  padding-left: 1.25em;
}

.prl-6 {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

.prl-7 {
  padding-right: 1.75em;
  padding-left: 1.75em;
}

.prl-8 {
  padding-right: 2em;
  padding-left: 2em;
}

.prl-9 {
  padding-right: 2.25em;
  padding-left: 2.25em;
}

.prl-10 {
  padding-right: 2.5em;
  padding-left: 2.5em;
}

.prl-11 {
  padding-right: 2.75em;
  padding-left: 2.75em;
}

.prl-12 {
  padding-right: 3em;
  padding-left: 3em;
}

.m-1 {
  margin: 0.25em;
}

.m-2 {
  margin: 0.5em;
}

.m-3 {
  margin: 0.75em;
}

.m-4 {
  margin: 1em;
}

.m-5 {
  margin: 1.25em;
}

.m-6 {
  margin: 1.5em;
}

.m-7 {
  margin: 1.75em;
}

.m-8 {
  margin: 2em;
}

.m-9 {
  margin: 2.25em;
}

.m-10 {
  margin: 2.5em;
}

.m-11 {
  margin: 2.75em;
}

.m-12 {
  margin: 3em;
}

.mt-1 {
  margin-top: 0.25em;
}

.mt-2 {
  margin-top: 0.5em;
}

.mt-3 {
  margin-top: 0.75em;
}

.mt-4 {
  margin-top: 1em;
}

.mt-5 {
  margin-top: 1.25em;
}

.mt-6 {
  margin-top: 1.5em;
}

.mt-7 {
  margin-top: 1.75em;
}

.mt-8 {
  margin-top: 2em;
}

.mt-9 {
  margin-top: 2.25em;
}

.mt-10 {
  margin-top: 2.5em;
}

.mt-11 {
  margin-top: 2.75em;
}

.mt-12 {
  margin-top: 3em;
}

.mb-1 {
  margin-bottom: 0.25em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

.mb-3 {
  margin-bottom: 0.75em;
}

.mb-4 {
  margin-bottom: 1em;
}

.mb-5 {
  margin-bottom: 1.25em;
}

.mb-6 {
  margin-bottom: 1.5em;
}

.mb-7 {
  margin-bottom: 1.75em;
}

.mb-8 {
  margin-bottom: 2em;
}

.mb-9 {
  margin-bottom: 2.25em;
}

.mb-10 {
  margin-bottom: 2.5em;
}

.mb-11 {
  margin-bottom: 2.75em;
}

.mb-12 {
  margin-bottom: 3em;
}

.mr-1 {
  margin-right: 0.25em;
}

.mr-2 {
  margin-right: 0.5em;
}

.mr-3 {
  margin-right: 0.75em;
}

.mr-4 {
  margin-right: 1em;
}

.mr-5 {
  margin-right: 1.25em;
}

.mr-6 {
  margin-right: 1.5em;
}

.mr-7 {
  margin-right: 1.75em;
}

.mr-8 {
  margin-right: 2em;
}

.mr-9 {
  margin-right: 2.25em;
}

.mr-10 {
  margin-right: 2.5em;
}

.mr-11 {
  margin-right: 2.75em;
}

.mr-12 {
  margin-right: 3em;
}

.ml-1 {
  margin-left: 0.25em;
}

.ml-2 {
  margin-left: 0.5em;
}

.ml-3 {
  margin-left: 0.75em;
}

.ml-4 {
  margin-left: 1em;
}

.ml-5 {
  margin-left: 1.25em;
}

.ml-6 {
  margin-left: 1.5em;
}

.ml-7 {
  margin-left: 1.75em;
}

.ml-8 {
  margin-left: 2em;
}

.ml-9 {
  margin-left: 2.25em;
}

.ml-10 {
  margin-left: 2.5em;
}

.ml-11 {
  margin-left: 2.75em;
}

.ml-12 {
  margin-left: 3em;
}

.mrl-1 {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.mrl-2 {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.mrl-3 {
  margin-right: 0.75em;
  margin-left: 0.75em;
}

.mrl-4 {
  margin-right: 1em;
  margin-left: 1em;
}

.mrl-5 {
  margin-right: 1.25em;
  margin-left: 1.25em;
}

.mrl-6 {
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.mrl-7 {
  margin-right: 1.75em;
  margin-left: 1.75em;
}

.mrl-8 {
  margin-right: 2em;
  margin-left: 2em;
}

.mrl-9 {
  margin-right: 2.25em;
  margin-left: 2.25em;
}

.mrl-10 {
  margin-right: 2.5em;
  margin-left: 2.5em;
}

.mrl-11 {
  margin-right: 2.75em;
  margin-left: 2.75em;
}

.mrl-12 {
  margin-right: 3em;
  margin-left: 3em;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-125 {
  width: 125%;
}

.w-150 {
  width: 150%;
}

.w-175 {
  width: 175%;
}

.w-200 {
  width: 200%;
}

.w-225 {
  width: 225%;
}

.w-250 {
  width: 250%;
}

.w-275 {
  width: 275%;
}

.w-300 {
  width: 300%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-125 {
  height: 125%;
}

.h-150 {
  height: 150%;
}

.h-175 {
  height: 175%;
}

.h-200 {
  height: 200%;
}

.h-225 {
  height: 225%;
}

.h-250 {
  height: 250%;
}

.h-275 {
  height: 275%;
}

.h-300 {
  height: 300%;
}

.maxw-25 {
  max-width: 25%;
}

.maxw-50 {
  max-width: 50%;
}

.maxw-75 {
  max-width: 75%;
}

.maxw-100 {
  max-width: 100%;
}

.maxw-125 {
  max-width: 125%;
}

.maxw-150 {
  max-width: 150%;
}

.maxw-175 {
  max-width: 175%;
}

.maxw-200 {
  max-width: 200%;
}

.maxw-225 {
  max-width: 225%;
}

.maxw-250 {
  max-width: 250%;
}

.maxw-275 {
  max-width: 275%;
}

.maxw-300 {
  max-width: 300%;
}

.maxh-25 {
  max-height: 25%;
}

.maxh-50 {
  max-height: 50%;
}

.maxh-75 {
  max-height: 75%;
}

.maxh-100 {
  max-height: 100%;
}

.maxh-125 {
  max-height: 125%;
}

.maxh-150 {
  max-height: 150%;
}

.maxh-175 {
  max-height: 175%;
}

.maxh-200 {
  max-height: 200%;
}

.maxh-225 {
  max-height: 225%;
}

.maxh-250 {
  max-height: 250%;
}

.maxh-275 {
  max-height: 275%;
}

.maxh-300 {
  max-height: 300%;
}

/*Fixed-sizes*/
.sizew-50 {
  width: 50px;
}

.sizew-100 {
  width: 100px;
}

.sizew-150 {
  width: 150px;
}

.sizew-200 {
  width: 200px;
}

.sizew-250 {
  width: 250px;
}

.sizew-300 {
  width: 300px;
}

.sizew-350 {
  width: 350px;
}

.sizew-400 {
  width: 400px;
}

.sizew-450 {
  width: 450px;
}

.sizew-500 {
  width: 500px;
}

.sizew-550 {
  width: 550px;
}

.sizew-600 {
  width: 600px;
}

.sizew-650 {
  width: 650px;
}

.sizew-700 {
  width: 700px;
}

.sizew-750 {
  width: 750px;
}

.sizew-800 {
  width: 800px;
}

.sizew-850 {
  width: 850px;
}

.sizew-900 {
  width: 900px;
}

.sizew-950 {
  width: 950px;
}

.sizew-1000 {
  width: 1000px;
}

.sizew-1050 {
  width: 1050px;
}

.sizew-1100 {
  width: 1100px;
}

.sizew-1150 {
  width: 1150px;
}

.sizew-1200 {
  width: 1200px;
}

.sizew-1250 {
  width: 1250px;
}

.sizew-1300 {
  width: 1300px;
}

.sizew-1350 {
  width: 1350px;
}

.sizeh-50 {
  height: 50px;
}

.sizeh-100 {
  height: 100px;
}

.sizeh-150 {
  height: 150px;
}

.sizeh-200 {
  height: 200px;
}

.sizeh-250 {
  height: 250px;
}

.sizeh-300 {
  height: 300px;
}

.sizeh-350 {
  height: 350px;
}

.sizeh-400 {
  height: 400px;
}

.sizeh-450 {
  height: 450px;
}

.sizeh-500 {
  height: 500px;
}

.sizeh-550 {
  height: 550px;
}

.sizeh-600 {
  height: 600px;
}

.sizeh-650 {
  height: 650px;
}

.sizeh-700 {
  height: 700px;
}

.sizeh-750 {
  height: 750px;
}

.sizeh-800 {
  height: 800px;
}

.sizeh-850 {
  height: 850px;
}

.sizeh-900 {
  height: 900px;
}

.sizeh-950 {
  height: 950px;
}

.sizeh-1000 {
  height: 1000px;
}

.sizeh-1050 {
  height: 1050px;
}

.sizeh-1100 {
  height: 1100px;
}

.sizeh-1150 {
  height: 1150px;
}

.sizeh-1200 {
  height: 1200px;
}

.sizeh-1250 {
  height: 1250px;
}

.image-size-cover {
  width: 100%;
}
.image-size-cover img {
  object-fit: cover;
  object-position: center center;
}
.image-size-cover div img {
  object-fit: cover;
  object-position: center center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-top {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.order-1 {
  order: 1;
}

@media screen and (max-width: 576px) {
  .order-xs-1 {
    order: 1;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-1 {
    order: 1;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-1 {
    order: 1;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-1 {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-1 {
    order: 1;
  }
}
.order-2 {
  order: 2;
}

@media screen and (max-width: 576px) {
  .order-xs-2 {
    order: 2;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-2 {
    order: 2;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-2 {
    order: 2;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-2 {
    order: 2;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-2 {
    order: 2;
  }
}
.order-3 {
  order: 3;
}

@media screen and (max-width: 576px) {
  .order-xs-3 {
    order: 3;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-3 {
    order: 3;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-3 {
    order: 3;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-3 {
    order: 3;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-3 {
    order: 3;
  }
}
.order-4 {
  order: 4;
}

@media screen and (max-width: 576px) {
  .order-xs-4 {
    order: 4;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-4 {
    order: 4;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-4 {
    order: 4;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-4 {
    order: 4;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-4 {
    order: 4;
  }
}
.order-5 {
  order: 5;
}

@media screen and (max-width: 576px) {
  .order-xs-5 {
    order: 5;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-5 {
    order: 5;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-5 {
    order: 5;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-5 {
    order: 5;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-5 {
    order: 5;
  }
}
.order-6 {
  order: 6;
}

@media screen and (max-width: 576px) {
  .order-xs-6 {
    order: 6;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .order-sm-6 {
    order: 6;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .order-md-6 {
    order: 6;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .order-lg-6 {
    order: 6;
  }
}
@media screen and (min-width: 1200px) {
  .order-xl-6 {
    order: 6;
  }
}
.link-full a {
  background-image: url(../../images/Back-blue.png);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s;
  color: white;
  border: 1px dotted white;
  font-size: 1.15em;
}
.link-full a:hover {
  background-size: 100% 100%;
  color: white;
}

.list h5 {
  font-size: 23px;
  font-weight: bold;
}
.list ul li {
  font-size: 1.1875em;
  padding: 10px;
  display: flex;
  align-items: start;
}

.button-yellow-lg {
  font-size: 1.375em;
}

.button-blue-lg {
  font-size: 1.375em;
}

.btton-yellow-md {
  font-size: 1.2em;
}

.btton-yellow-sm {
  font-size: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}
.form .item {
  width: 150px;
  height: 20px;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .item a {
  color: black !important;
  margin: 10px;
  padding: 7px;
}

@media screen and (max-width: 768px) and (min-width: 3px) {
  .navbar {
    display: flex;
    flex-flow: column wrap-reverse;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .navbar .container {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar .item {
    margin: 1px;
    padding: 10px;
    border: 2px dotted black;
  }
}
body {
  font-family: Aller, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #1f1f1f;
}

* {
  overflow-x: hidden;
}

.bgc-yellow, .button-yellow-lg, .btton-yellow-md, .btton-yellow-sm {
  background-color: #fdd048;
  color: #383838;
}

.bgc-blue, .button-blue-lg {
  background-color: #498cf3;
}

.bgc-pink {
  background-color: #383838;
}

.bgc-black {
  background-color: #383838;
  color: white;
}

.bgc-gray, .info {
  background-color: #f3f3f3;
}

@media screen and (max-width: 576px) and (min-width: 3px) {
  .bgc-xs-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-xs-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .bgc-sm-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-sm-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .bgc-md-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-md-black {
    background-color: #383838;
    color: white;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .bgc-lg-yellow {
    background-color: #fdd048;
    color: #383838;
  }

  .bgc-lg-black {
    background-color: #383838;
    color: white;
  }
}
.yellow {
  color: #fdd048;
}

.blue {
  color: #498cf3;
}

.pink {
  color: #fc585f;
}

.black {
  color: #383838;
}

.b, .button-yellow-lg, .button-blue-lg, .btton-yellow-md, .btton-yellow-sm {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.paragraph, .questions h5, .info-video p, .info-video h2, .info-lg p, .info-lg h3, .info p, .info h2 {
  text-align: justify;
  width: 90%;
  padding: 1em;
  margin: 5% auto;
}

.header, .questions p, .questions h5, .info-video h2, .info-lg h3, .info h2 {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
}

.info h2 {
  font-size: 2.625em;
}
.info p {
  font-size: 1.562em;
}

.info-lg h3 {
  font-size: 2rem;
}
.info-lg p {
  font-size: 1.31rem;
}

.info-video h2 {
  font-size: 1.75rem;
  color: white;
}
.info-video p {
  font-size: 1rem;
  color: white;
}

.questions h5 {
  font-size: 2.876rem;
}
.questions p {
  background: white;
  font-size: 1.625rem;
  margin-bottom: 5px;
}

.relative-space {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  overflow: hidden;
}
.relative-space .center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.relative-space .top-2 {
  position: absolute;
  top: 0%;
  left: 2%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-2 {
  position: absolute;
  top: 100%;
  left: 2%;
  transform: translate(-50%, -100%);
}
.relative-space .center-2 {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
}
.relative-space .top-4 {
  position: absolute;
  top: 0%;
  left: 4%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-4 {
  position: absolute;
  top: 100%;
  left: 4%;
  transform: translate(-50%, -100%);
}
.relative-space .center-4 {
  position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
}
.relative-space .top-6 {
  position: absolute;
  top: 0%;
  left: 6%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-6 {
  position: absolute;
  top: 100%;
  left: 6%;
  transform: translate(-50%, -100%);
}
.relative-space .center-6 {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}
.relative-space .top-8 {
  position: absolute;
  top: 0%;
  left: 8%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-8 {
  position: absolute;
  top: 100%;
  left: 8%;
  transform: translate(-50%, -100%);
}
.relative-space .center-8 {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
}
.relative-space .top-10 {
  position: absolute;
  top: 0%;
  left: 10%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-10 {
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(-50%, -100%);
}
.relative-space .center-10 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.relative-space .top-12 {
  position: absolute;
  top: 0%;
  left: 12%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-12 {
  position: absolute;
  top: 100%;
  left: 12%;
  transform: translate(-50%, -100%);
}
.relative-space .center-12 {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
}
.relative-space .top-14 {
  position: absolute;
  top: 0%;
  left: 14%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-14 {
  position: absolute;
  top: 100%;
  left: 14%;
  transform: translate(-50%, -100%);
}
.relative-space .center-14 {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translate(-50%, -50%);
}
.relative-space .top-16 {
  position: absolute;
  top: 0%;
  left: 16%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-16 {
  position: absolute;
  top: 100%;
  left: 16%;
  transform: translate(-50%, -100%);
}
.relative-space .center-16 {
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-50%, -50%);
}
.relative-space .top-18 {
  position: absolute;
  top: 0%;
  left: 18%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-18 {
  position: absolute;
  top: 100%;
  left: 18%;
  transform: translate(-50%, -100%);
}
.relative-space .center-18 {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.relative-space .top-20 {
  position: absolute;
  top: 0%;
  left: 20%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-20 {
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translate(-50%, -100%);
}
.relative-space .center-20 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.relative-space .top-22 {
  position: absolute;
  top: 0%;
  left: 22%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-22 {
  position: absolute;
  top: 100%;
  left: 22%;
  transform: translate(-50%, -100%);
}
.relative-space .center-22 {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
}
.relative-space .top-24 {
  position: absolute;
  top: 0%;
  left: 24%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-24 {
  position: absolute;
  top: 100%;
  left: 24%;
  transform: translate(-50%, -100%);
}
.relative-space .center-24 {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
}
.relative-space .top-26 {
  position: absolute;
  top: 0%;
  left: 26%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-26 {
  position: absolute;
  top: 100%;
  left: 26%;
  transform: translate(-50%, -100%);
}
.relative-space .center-26 {
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
}
.relative-space .top-28 {
  position: absolute;
  top: 0%;
  left: 28%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-28 {
  position: absolute;
  top: 100%;
  left: 28%;
  transform: translate(-50%, -100%);
}
.relative-space .center-28 {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
}
.relative-space .top-30 {
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-30 {
  position: absolute;
  top: 100%;
  left: 30%;
  transform: translate(-50%, -100%);
}
.relative-space .center-30 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.relative-space .top-32 {
  position: absolute;
  top: 0%;
  left: 32%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-32 {
  position: absolute;
  top: 100%;
  left: 32%;
  transform: translate(-50%, -100%);
}
.relative-space .center-32 {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
}
.relative-space .top-34 {
  position: absolute;
  top: 0%;
  left: 34%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-34 {
  position: absolute;
  top: 100%;
  left: 34%;
  transform: translate(-50%, -100%);
}
.relative-space .center-34 {
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translate(-50%, -50%);
}
.relative-space .top-36 {
  position: absolute;
  top: 0%;
  left: 36%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-36 {
  position: absolute;
  top: 100%;
  left: 36%;
  transform: translate(-50%, -100%);
}
.relative-space .center-36 {
  position: absolute;
  top: 50%;
  left: 36%;
  transform: translate(-50%, -50%);
}
.relative-space .top-38 {
  position: absolute;
  top: 0%;
  left: 38%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-38 {
  position: absolute;
  top: 100%;
  left: 38%;
  transform: translate(-50%, -100%);
}
.relative-space .center-38 {
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.relative-space .top-40 {
  position: absolute;
  top: 0%;
  left: 40%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-40 {
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translate(-50%, -100%);
}
.relative-space .center-40 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.relative-space .top-42 {
  position: absolute;
  top: 0%;
  left: 42%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-42 {
  position: absolute;
  top: 100%;
  left: 42%;
  transform: translate(-50%, -100%);
}
.relative-space .center-42 {
  position: absolute;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
}
.relative-space .top-44 {
  position: absolute;
  top: 0%;
  left: 44%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-44 {
  position: absolute;
  top: 100%;
  left: 44%;
  transform: translate(-50%, -100%);
}
.relative-space .center-44 {
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.relative-space .top-46 {
  position: absolute;
  top: 0%;
  left: 46%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-46 {
  position: absolute;
  top: 100%;
  left: 46%;
  transform: translate(-50%, -100%);
}
.relative-space .center-46 {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
}
.relative-space .top-48 {
  position: absolute;
  top: 0%;
  left: 48%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-48 {
  position: absolute;
  top: 100%;
  left: 48%;
  transform: translate(-50%, -100%);
}
.relative-space .center-48 {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.relative-space .top-50 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-50 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.relative-space .center-50 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.relative-space .top-52 {
  position: absolute;
  top: 0%;
  left: 52%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-52 {
  position: absolute;
  top: 100%;
  left: 52%;
  transform: translate(-50%, -100%);
}
.relative-space .center-52 {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.relative-space .top-54 {
  position: absolute;
  top: 0%;
  left: 54%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-54 {
  position: absolute;
  top: 100%;
  left: 54%;
  transform: translate(-50%, -100%);
}
.relative-space .center-54 {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}
.relative-space .top-56 {
  position: absolute;
  top: 0%;
  left: 56%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-56 {
  position: absolute;
  top: 100%;
  left: 56%;
  transform: translate(-50%, -100%);
}
.relative-space .center-56 {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}
.relative-space .top-58 {
  position: absolute;
  top: 0%;
  left: 58%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-58 {
  position: absolute;
  top: 100%;
  left: 58%;
  transform: translate(-50%, -100%);
}
.relative-space .center-58 {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}
.relative-space .top-60 {
  position: absolute;
  top: 0%;
  left: 60%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-60 {
  position: absolute;
  top: 100%;
  left: 60%;
  transform: translate(-50%, -100%);
}
.relative-space .center-60 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.relative-space .top-62 {
  position: absolute;
  top: 0%;
  left: 62%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-62 {
  position: absolute;
  top: 100%;
  left: 62%;
  transform: translate(-50%, -100%);
}
.relative-space .center-62 {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.relative-space .top-64 {
  position: absolute;
  top: 0%;
  left: 64%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-64 {
  position: absolute;
  top: 100%;
  left: 64%;
  transform: translate(-50%, -100%);
}
.relative-space .center-64 {
  position: absolute;
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
}
.relative-space .top-66 {
  position: absolute;
  top: 0%;
  left: 66%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-66 {
  position: absolute;
  top: 100%;
  left: 66%;
  transform: translate(-50%, -100%);
}
.relative-space .center-66 {
  position: absolute;
  top: 50%;
  left: 66%;
  transform: translate(-50%, -50%);
}
.relative-space .top-68 {
  position: absolute;
  top: 0%;
  left: 68%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-68 {
  position: absolute;
  top: 100%;
  left: 68%;
  transform: translate(-50%, -100%);
}
.relative-space .center-68 {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}
.relative-space .top-70 {
  position: absolute;
  top: 0%;
  left: 70%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-70 {
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translate(-50%, -100%);
}
.relative-space .center-70 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.relative-space .top-72 {
  position: absolute;
  top: 0%;
  left: 72%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-72 {
  position: absolute;
  top: 100%;
  left: 72%;
  transform: translate(-50%, -100%);
}
.relative-space .center-72 {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
}
.relative-space .top-74 {
  position: absolute;
  top: 0%;
  left: 74%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-74 {
  position: absolute;
  top: 100%;
  left: 74%;
  transform: translate(-50%, -100%);
}
.relative-space .center-74 {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
}
.relative-space .top-76 {
  position: absolute;
  top: 0%;
  left: 76%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-76 {
  position: absolute;
  top: 100%;
  left: 76%;
  transform: translate(-50%, -100%);
}
.relative-space .center-76 {
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translate(-50%, -50%);
}
.relative-space .top-78 {
  position: absolute;
  top: 0%;
  left: 78%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-78 {
  position: absolute;
  top: 100%;
  left: 78%;
  transform: translate(-50%, -100%);
}
.relative-space .center-78 {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
}
.relative-space .top-80 {
  position: absolute;
  top: 0%;
  left: 80%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-80 {
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translate(-50%, -100%);
}
.relative-space .center-80 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.relative-space .top-82 {
  position: absolute;
  top: 0%;
  left: 82%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-82 {
  position: absolute;
  top: 100%;
  left: 82%;
  transform: translate(-50%, -100%);
}
.relative-space .center-82 {
  position: absolute;
  top: 50%;
  left: 82%;
  transform: translate(-50%, -50%);
}
.relative-space .top-84 {
  position: absolute;
  top: 0%;
  left: 84%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-84 {
  position: absolute;
  top: 100%;
  left: 84%;
  transform: translate(-50%, -100%);
}
.relative-space .center-84 {
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
}
.relative-space .top-86 {
  position: absolute;
  top: 0%;
  left: 86%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-86 {
  position: absolute;
  top: 100%;
  left: 86%;
  transform: translate(-50%, -100%);
}
.relative-space .center-86 {
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translate(-50%, -50%);
}
.relative-space .top-88 {
  position: absolute;
  top: 0%;
  left: 88%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-88 {
  position: absolute;
  top: 100%;
  left: 88%;
  transform: translate(-50%, -100%);
}
.relative-space .center-88 {
  position: absolute;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
}
.relative-space .top-90 {
  position: absolute;
  top: 0%;
  left: 90%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-90 {
  position: absolute;
  top: 100%;
  left: 90%;
  transform: translate(-50%, -100%);
}
.relative-space .center-90 {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.relative-space .top-92 {
  position: absolute;
  top: 0%;
  left: 92%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-92 {
  position: absolute;
  top: 100%;
  left: 92%;
  transform: translate(-50%, -100%);
}
.relative-space .center-92 {
  position: absolute;
  top: 50%;
  left: 92%;
  transform: translate(-50%, -50%);
}
.relative-space .top-94 {
  position: absolute;
  top: 0%;
  left: 94%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-94 {
  position: absolute;
  top: 100%;
  left: 94%;
  transform: translate(-50%, -100%);
}
.relative-space .center-94 {
  position: absolute;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);
}
.relative-space .top-96 {
  position: absolute;
  top: 0%;
  left: 96%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-96 {
  position: absolute;
  top: 100%;
  left: 96%;
  transform: translate(-50%, -100%);
}
.relative-space .center-96 {
  position: absolute;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
}
.relative-space .top-98 {
  position: absolute;
  top: 0%;
  left: 98%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-98 {
  position: absolute;
  top: 100%;
  left: 98%;
  transform: translate(-50%, -100%);
}
.relative-space .center-98 {
  position: absolute;
  top: 50%;
  left: 98%;
  transform: translate(-50%, -50%);
}
.relative-space .top-100 {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, 0%);
}
.relative-space .bottom-100 {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -100%);
}
.relative-space .center-100 {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.hidde {
  display: none;
}

/*UNO*/
@media screen and (max-width: 576px) and (min-width: 3px) {
  .display-0001 {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .display-0001 {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-0001 {
    display: none;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .display-0001 {
    display: block;
  }
}

/*DOS*/
@media screen and (max-width: 576px) and (min-width: 3px) {
  .display-0010 {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .display-0010 {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-0010 {
    display: block;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1200px) {
  .display-0010 {
    display: none;
  }
}

/*TRES*/
.display-0011 {
  display: none;
  visibility: none;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .display-0011 {
    display: flex;
  }
}
@media (max-width: 2300px) and (min-width: 1024px) {
  .display-0011 {
    display: flex;
  }
}

/*CUATRO*/
.display-0100 {
  display: none;
}
@media screen and (max-width: 576px) and (min-width: 3px) {
  .display-0100 {
    display: block;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .display-0100 {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-0100 {
    display: none;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .display-0100 {
    display: none;
  }
}

/*SEIS*/
@media screen and (max-width: 576px) and (min-width: 3px) {
  .display-0110 {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .display-0110 {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-0110 {
    display: block;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .display-0110 {
    display: none;
  }
}

/*7*/
@media screen and (max-width: 576px) and (min-width: 3px) {
  .display-0111 {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 3px) {
  .display-0111 {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .display-0111 {
    display: block;
  }
}
@media screen and (max-width: 2300px) and (min-width: 1024px) {
  .display-0111 {
    display: block;
  }
}

.size-50 {
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center center;
}

.size-100 {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center center;
}

.size-150 {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center center;
}

.size-200 {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center center;
}

.size-250 {
  width: 250px;
  height: 250px;
  object-fit: contain;
  object-position: center center;
}

.size-300 {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: center center;
}

.size-350 {
  width: 350px;
  height: 350px;
  object-fit: contain;
  object-position: center center;
}

.size-400 {
  width: 400px;
  height: 400px;
  object-fit: contain;
  object-position: center center;
}

.size-450 {
  width: 450px;
  height: 450px;
  object-fit: contain;
  object-position: center center;
}

.size-500 {
  width: 500px;
  height: 500px;
  object-fit: contain;
  object-position: center center;
}

.size-550 {
  width: 550px;
  height: 550px;
  object-fit: contain;
  object-position: center center;
}

.size-600 {
  width: 600px;
  height: 600px;
  object-fit: contain;
  object-position: center center;
}

.size-650 {
  width: 650px;
  height: 650px;
  object-fit: contain;
  object-position: center center;
}

.size-700 {
  width: 700px;
  height: 700px;
  object-fit: contain;
  object-position: center center;
}

.size-750 {
  width: 750px;
  height: 750px;
  object-fit: contain;
  object-position: center center;
}

.size-800 {
  width: 800px;
  height: 800px;
  object-fit: contain;
  object-position: center center;
}

.size-850 {
  width: 850px;
  height: 850px;
  object-fit: contain;
  object-position: center center;
}

.size-900 {
  width: 900px;
  height: 900px;
  object-fit: contain;
  object-position: center center;
}

.size-950 {
  width: 950px;
  height: 950px;
  object-fit: contain;
  object-position: center center;
}

.size-1000 {
  width: 1000px;
  height: 1000px;
  object-fit: contain;
  object-position: center center;
}

.size-1050 {
  width: 1050px;
  height: 1050px;
  object-fit: contain;
  object-position: center center;
}

.size-1100 {
  width: 1100px;
  height: 1100px;
  object-fit: contain;
  object-position: center center;
}

.size-1150 {
  width: 1150px;
  height: 1150px;
  object-fit: contain;
  object-position: center center;
}

.size-1200 {
  width: 1200px;
  height: 1200px;
  object-fit: contain;
  object-position: center center;
}

.size-1250 {
  width: 1250px;
  height: 1250px;
  object-fit: contain;
  object-position: center center;
}

.size-1300 {
  width: 1300px;
  height: 1300px;
  object-fit: contain;
  object-position: center center;
}

.size-1350 {
  width: 1350px;
  height: 1350px;
  object-fit: contain;
  object-position: center center;
}

.size-1400 {
  width: 1400px;
  height: 1400px;
  object-fit: contain;
  object-position: center center;
}

.size-1450 {
  width: 1450px;
  height: 1450px;
  object-fit: contain;
  object-position: center center;
}

.size-1500 {
  width: 1500px;
  height: 1500px;
  object-fit: contain;
  object-position: center center;
}

.size-1550 {
  width: 1550px;
  height: 1550px;
  object-fit: contain;
  object-position: center center;
}

.size-1600 {
  width: 1600px;
  height: 1600px;
  object-fit: contain;
  object-position: center center;
}

.size-1650 {
  width: 1650px;
  height: 1650px;
  object-fit: contain;
  object-position: center center;
}

.size-1700 {
  width: 1700px;
  height: 1700px;
  object-fit: contain;
  object-position: center center;
}

.size-1750 {
  width: 1750px;
  height: 1750px;
  object-fit: contain;
  object-position: center center;
}

.size-1800 {
  width: 1800px;
  height: 1800px;
  object-fit: contain;
  object-position: center center;
}

.size-1850 {
  width: 1850px;
  height: 1850px;
  object-fit: contain;
  object-position: center center;
}

.size-1900 {
  width: 1900px;
  height: 1900px;
  object-fit: contain;
  object-position: center center;
}

.size-1950 {
  width: 1950px;
  height: 1950px;
  object-fit: contain;
  object-position: center center;
}

.size-2000 {
  width: 2000px;
  height: 2000px;
  object-fit: contain;
  object-position: center center;
}

.size-2050 {
  width: 2050px;
  height: 2050px;
  object-fit: contain;
  object-position: center center;
}

.size-2100 {
  width: 2100px;
  height: 2100px;
  object-fit: contain;
  object-position: center center;
}

.size-2150 {
  width: 2150px;
  height: 2150px;
  object-fit: contain;
  object-position: center center;
}

.size-2200 {
  width: 2200px;
  height: 2200px;
  object-fit: contain;
  object-position: center center;
}

.size-2250 {
  width: 2250px;
  height: 2250px;
  object-fit: contain;
  object-position: center center;
}

.size-2300 {
  width: 2300px;
  height: 2300px;
  object-fit: contain;
  object-position: center center;
}

.size-2350 {
  width: 2350px;
  height: 2350px;
  object-fit: contain;
  object-position: center center;
}

.size-2400 {
  width: 2400px;
  height: 2400px;
  object-fit: contain;
  object-position: center center;
}

.size-2450 {
  width: 2450px;
  height: 2450px;
  object-fit: contain;
  object-position: center center;
}

.size-2500 {
  width: 2500px;
  height: 2500px;
  object-fit: contain;
  object-position: center center;
}

.image-full {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 100vh;
  overflow-x: hidden;
}

.div-svg {
  max-width: 100vw;
  height: 100vh;
}

h1 {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
